body {
    background-color:aquamarine;
    
}

h1 {
    text-align: center;
    color:black;
    font-weight: bold;
    text-decoration-line: underline;
}

#list {
    list-style-type: none;
    text-align: left;
    margin: 0;
    margin-bottom: 1%;
    padding: 0;
    border-radius: 10px;
}

.list-item {
    background-color:blue;
    padding: 3%;
    display: table;
    border-color:aqua;

}

.list-item:hover, .complete {
    background-color:blue;
    border-color: blue;
    font-weight: 500;
    cursor: pointer;
}

label:hover {
    cursor: pointer;
}

.complete {
    text-decoration: line-through;
    color: antiquewhite;
}

label {
    display: table-cell;
    width: 100%;
    border-color:black;
    
}
#input-container {
    padding: 1%;
    margin: auto;
    margin-bottom: 2%;
    text-align: center;
    border-radius:20px;
}

input[type=text] {
    padding: 10px;
    width: 88%;
    border-radius: 5px;
    border: none;
   
}
#input{
    border-color: black;
    color:blue;
}
#sort-by {
    text-align: center;
}

#items-container {
    width: 80%;
    margin: auto;
    margin-top: 1%;
}


button {
    background-color:#378eba;
    border-radius: 5px;
    border: none;
    padding: 10px;
    
}

button:hover {
    cursor: pointer;
    font-weight: 500;
    background-color:blue;
}
 
#button {
    text-align: right;
}

.delete-button {
    background-color:white;
    margin-left: 0.5rem;
    display: inline-block;
    text-align: right;
}

.delete-button:hover {
    background-color:blue;
}

.hide {
    display: none;
}

@media (min-width: 750px) {
    #items-container {
        width: 60%;
    }

    #input-container {
        width:60%
    }
}

@media (min-width: 900px) {
    #items-container {
        width: 40%;
    }

    #input-container {
        width:40%
    }
}